:root {
    --morado: #9C27B0;
    --moradoOscuro: #89119D;
    --amarillo: #FFCE00;
    --amarilloOscuro: rgb(233, 287, 2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: "Staatliches", sans-serif;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*Globales*/

body{
    background-color: var(--morado);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    margin: 0 auto;
    width: 120rem;
}

h1,h2,h3{
    text-align: center;
    color: var(--amarillo);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.8rem;
}

h3{
    font-size: 2.4rem;
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/*footer*/
.footer{
    background-color: var(--moradoOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/*Navegacion*/
.nav{
    background-color: var(--moradoOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /*Nueva forma de separación*/
    gap: 2rem;
}

.nav__link{
    text-transform: uppercase;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.nav__link:hover , .nav__link--activo{
    color: var(--amarillo);
}

/*Productos*/

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.producto{
    background-color: var(--moradoOscuro);
    padding: 1rem 0 0 1.5rem; 
}
